.form-content {
   width: 100%;
}

.response-content {
    width: 100%;
}

.description-box {
  height: 20em;
  width: 100%;
}
.description-box textarea {
  height: 100%;
  width: 100%;
}

.response-list {
  height: 20em;
  width: 100%;
}

.left-box {
  width: 50%;
  height: 30em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.right-box {
  width: 50%;
  height: 30em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.middle-box {
  width: 100%;
  height: 30em;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .left-box, .right-box {
      display: block;
      width: 100%;
      height: auto;
    }
  }
